/* change these */

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --bg-color: #632528;
  --link-color: #3e3e3e;
  --link-hover-color: #f5f0ee;
  --color-4: #f8f6f3;
  --color-5: #53615a;

  --primary-font: messapiaregular;
  --secondary-font: neue-haas-grotesk-display;
  --main-text-color: #3e3e3e;
  --white-space: 1rem;
}

a {
  transition: all 3s;
}
button:hover {
  background-color: #3e3e3e;
  color: #fff;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
html {
  font-size: 100%;
  background-color: #f8f6f3;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: #fff;
  color: #3e3e3e;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  padding-right: 0.75em;
  color: #3e3e3e;
  font-family: "messapiaregular";
}

.header-wrapper h2 {
  font-size: 1.3em;

  font-family: neue-haas-grotesk-display;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 3vh;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-family: neue-haas-grotesk-display;
  margin-bottom: 3vh;
  letter-spacing: 0.1em;
}

.header-wrapper h4 {
  font-size: 0.8rem;
  font-family: neue-haas-grotesk-display;
  letter-spacing: 0.1em;
}

main {
  padding: calc(2 * var(--white-space));
  background-color: #fff;
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

img {
  width: 60vh;
}

button {
  padding: 1rem 5rem;
  background: var(--color-4);
  text-align: center;
  text-decoration: none;
  font: 0.7em/1 var(--secondary-font);
  letter-spacing: 1px;
  color: #3e3e3e;
  text-transform: uppercase;
  cursor: pointer;
  border-color: #3e3e3e;
  border-width: 1px;
}

.secondary-button {
  background: var(--color-5);
  color: white;
  border-color: #53615a;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: var(--primary-font);
}

.h2-sample {
  font-family: var(--secondary-font);
  font-size: 1rem;
  text-transform: uppercase;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
  color: #3e3e3e;
}

a.typography-sample {
  color: #3e3e3e;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--secondary-font);
  color: #3e3e3e;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
